* {
	margin: 0;
	padding: 0;
}

html {
	background-color: rgb(60, 60, 60);
}

body {
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Quicksand", serif;
	padding: 15px;
}

p {
	margin: 10px;
}

ul {
	margin: 30px;
}

header, footer {
	border: 2px solid olive;
}

#container {
	border: 2px solid orange;
}

#doc-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#doc-grid .doc {
	padding: 20px;
	background: red;
}

#upload-button {
	background-color: rgb(87, 137, 242);
	font-size: 20px;
	color: rgb(222, 222, 222);
	border: none;
	padding: 10px 30px;
	border-radius: 20px;
	display: flex;
}

#upload-box {
	background-color: rgba(255,255,255,0.50);
  padding: 2% 5%;
  margin: 5% 10%;
  box-shadow: 0 0 25px 10px rgba(0,0,0,0.25);
  border-radius: 30px;
	min-height: 50vh;
}

#upload-box:hover {
	cursor:pointer;
}

.doc-image img {
	width: 400px;
	height: 400px;
}

.page-links {
	margin: 10px;
}
