* {
	margin: 0;
	padding: 0;
}

html {
	background-color: rgb(60, 60, 60);
}

body {
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Quicksand", serif;
	padding: 15px;
}

p {
	margin: 10px;
}

ul {
	margin: 30px;
}

header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
	height: 10vh;
  z-index: 2;
}

main {
	margin-top: 6%;
}
/* header, footer {
	border: 2px solid olive;
} */

#container {
	border: 2px solid orange;
}

#doc-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#doc-grid .doc {
	padding: 20px;
	background: red;
}

#upload-button {
	background-color: rgb(87, 137, 242);
	font-size: 20px;
	color: rgb(222, 222, 222);
	border: none;
	padding: 10px 30px;
	border-radius: 20px;
	display: flex;
}

#upload-box {
	background-color: rgba(255,255,255,0.50);
  padding: 2% 2%;
  margin: 5% 10%;
  box-shadow: 0 0 25px 10px rgba(0,0,0,0.25);
  border-radius: 30px;
	min-height: 70vh;
	list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 125px;
	background-image: url(uploadimg.png);
	background-size: 5%;
	background-repeat: no-repeat;
	background-position: center;

}
#upload-box div {
	height: 15vw;
	width: 15vw;
	background-color: rgba(250, 250, 250, 0.9);
	border-radius: 10%;
	margin: 1.89vw;
	background-size: cover;
}

#upload-box:hover {
	cursor:pointer;
}
.doc-image img {
	width: 400px;
	height: 400px;
}

.page-links {
	margin: 10px;
}
